@import 'tailwindcss';

@theme {
  --font-cascadia-mono: 'Cascadia Mono', mono;
  --font-space-grotesk: 'Space Grotesk', sans-serif;
  --font-mechsuit: 'Mechsuit', sans-serif;

  --color-text: #280609;
  --color-background: #e7fdfd;
  --color-primary: #22ddcd;
  --color-secondary: #f5c1c6;
  --color-accent: #20cbbd;
  --color-custom-1: #d1f2f5;
  --color-custom-2: #b1a2e2;
  --color-custom-3: #de86ea;
  --color-custom-4: #8fb3ff;
}

@custom-variant dark (&:where(.dark, .dark *));

@utility text-stroke-* {
  -webkit-text-stroke-width: --value(integer) px;
  -webkit-text-stroke-width: --value([*]);
  -webkit-text-stroke-color: --value(--color-*);
  -webkit-text-stroke-color: --value([*]);
}

@layer base {
  body {
    @apply font-space-grotesk;
  }

  h1 {
    @apply font-cascadia-mono font-extrabold text-text;
    @apply text-5xl md:text-6xl lg:text-7xl xl:text-[5rem];
  }

  h2 {
    @apply font-cascadia-mono font-extrabold text-text;
    @apply text-4xl md:text-5xl lg:text-6xl;
  }

  h3,
  h4 {
    @apply font-space-grotesk text-text;
  }

  h3 {
    @apply text-xl md:text-2xl font-bold;
  }

  h4 {
    @apply md:text-lg lg:text-xl font-semibold;
  }

  p {
    @apply font-space-grotesk font-medium text-text;
  }

  a {
    @apply font-space-grotesk font-medium;
  }

  code > * {
    @apply font-cascadia-mono;
  }

  @font-face {
    font-family: 'Mechsuit';
    src: local('Mechsuit'), url('/fonts/Mechsuit.woff2');
    font-display: swap;
  }

  :global(img) {
    will-change: filter, transform;
  }
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
